body {
    font-family: "Ubuntu", serif;
    background-color: #314057;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    background-color: #fff;
    padding-top: 85px;
}

main h1 {
    font-family: "Bungee", sans-serif;
    color: #fff;
    padding-top: 30px;
    text-align: center;
    font-size: 1.8rem;
}

h4 {
    font-weight: 500;
    font-size: 1.4rem;
}

h5,
label {
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    
}

p {
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px;
}

